.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    padding: var(--section-sm-padding) var(--container-padding);
}

.cart > .content > .cart_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 576px;
}

.cart > .content > .cart_body > .cart__title {
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-bold); /* o 700 */
    font-style: normal;
    font-size: var(--font-size-7-5);
    line-height: var(--leading-9);
    letter-spacing: 0px;
    text-align: center;
}

.cart > .content > .cart_body > .cart__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 576px;
    border-radius: var(--rounded-3);
    border: 1px solid var(--separator, #D9D9E0);
}

.cart > .content > .cart_body > .margin {
    height: var(--space-12);
}

.cart > .content > .cart_body > .cart__description > .cart_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--space-6); 
    border-radius: var(--rounded-3);
    background: var(--background, #FFFFFF);
}

.cart > .content > .cart_body > .cart__description > .cart_item > .cart__img {
    max-width: 80px;
    width: var(--space-20);
    border-radius: 12px;
    aspect-ratio: 2 / 3;
    object-fit: contain;
    background-color: var(--muted-background, rgba(0,0,85,0.0235));
}

.cart__item_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 424px;
    height: 120px;
    justify-content: space-between;
}

.cart__item_header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-4);
}

.cart__item_body {
    display: flex;
    flex-direction: row;        /* Flujo: Horizontal */

    width: 100%;

    height: 32px;               /* Altura: Adaptar (32px) */

    justify-content: space-between; /* Justificar: space-between */
    align-items: center;        /* recomendado para centrar verticalmente */
}
.cart__item_name{
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-regular);
    font-style: normal;
    font-size: var(--font-size-3-5);
    line-height: var(--leading-5);
    letter-spacing: 0px;
    vertical-align: middle;
    width: 100%;
    color: var(--foreground, #1C2024);

}

.cart__item_remove{

    width: var(--space-7);               /* Ancho */
    height: var(--space-7);              /* Altura */

    padding: var(--space-1);             /* Margen interior */

    border-radius: var(--rounded-1-5);   /* Radio */
    border: 1px solid var(--border, #CDCED6); /* base/border */

    background-color: transparent;       /* base/transparent */
    color: currentColor;

    /* Tamaño sm */
    font-size: var(--font-size-sm);
    line-height: 1;

    /* Solo icono */
    gap: 0;
}
.cart > .content > .cart_body > .cart__description > .vector{
    width: 100%;
    border: 1px solid var(--separator, #D9D9E0)
}

.cart__item_price {
     /* Tipografía (text-sm/medium) */
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-medium); /* o 500 */
    font-style: normal;
    font-size: var(--font-size-3-5);
    line-height: var(--leading-5);
    letter-spacing: 0px;

    /* Color */
    color: var(--foreground, #1C2024);
}

.cart__item_quantity {
    display: flex;
    flex-direction: row;     /* Flujo: Horizontal */

    width: fit-content;
    height: auto;
    min-height: 32px;

    gap: var(--space-4);     /* Espacio: space/4 */

    align-items: center;     /* recomendado */
}

.cart__item_decrease, .cart__item_increase{
    /* Layout */

    width: var(--space-7);
    height: var(--space-7);

    padding: var(--space-1);          /* Margen interior */

    /* Estilo (variant: outline) */
    background: transparent;          /* base/transparent */
    border: 1px solid var(--border, #CDCED6);

    border-radius: var(--rounded-1-5);
    display: inline-flex;
    flex-direction: row;              /* Flujo: Horizontal */
    align-items: center;
    justify-content: center;
}

.cart__item_count {
    /* Layout */
    display: flex;
    flex-direction: row;                 /* Flujo: Horizontal */
    align-items: center;                 /* Alineación interna */

    width: 32px;               /* o var(--space-14) si existe */
    height: var(--space-8);

    padding: 0 8px;            /* NO spacing-4 */
    text-align: center;        /* no right */                 /* sup/inf - izq/der */

    border-radius: var(--radius-md);     /* Radio */

    background-color: var(--background, #FFFFFF);

    border: 1px solid var(--border, #CDCED6);

    font-family: var(--font-family-text);
    font-weight: var(--font-weight-medium); /* o 500 */
    font-style: normal;
    font-size: var(--font-size-3-5);
    line-height: var(--leading-5);
    letter-spacing: 0px;
}

.cart_summary{
    display: flex;
    flex-direction: row;        /* Flujo: Horizontal */
    justify-content: space-between;

    width: 100%;
    max-width: 576px;           /* Relleno (576px) */

    padding: var(--space-6);    /* Margen interior: space/6 */
    align-items: center;        /* recomendado */
}

.cart_summary > p {
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-medium); /* o 500 */
    font-style: normal;
    font-size: var(--font-size-4);
    line-height: var(--leading-6);
    letter-spacing: 0px;
    width: fit-content;
    color: var(--foreground, #1C2024);

}

.cart_action{
    display: flex;
    flex-direction: row;        /* Flujo: Horizontal */
    justify-content: center;

    width: 100%;
    max-width: 576px;           /* Relleno (576px) */

    padding: var(--space-6);    /* Margen interior: space/6 */
    align-items: center;        /* recomendado */
}

.cart_action > form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buy{
     /* Tamaño */
    width: 100%;
    max-width: 528px;                 /* Ancho: Relleno (528px) */
    height: var(--space-12);          /* Altura: space/12 */

    /* Margen interior */
    padding: var(--space-3) var(--space-8);

    /* Estilo */
    border-radius: var(--rounded-2);
    background: var(--primary-background, #5B5BD6);
    border: 1px solid transparent;
}