.categories {
  padding: var(--space-16) 0;
  width: 100%;

  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.categories > .content {
  width: 1280px;
  max-width: 1280px;
  padding-right: var(--spacing-8);
  padding-left: var(--spacing-8);
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.categories > .margin {
  width: 1216px;
  height: 40px;
}
.categories__content {
  display: flex;
  gap: var(--space-8);
}

.categories__title {
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-bold);
  font-style: normal; /* Bold */
  font-size: var(--font-size-9);
  line-height: var(--leading-10);
  letter-spacing: 0;
}

.categories__intro {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  width: 768px;
  height: 104px;
  max-width: 768px;
}

.categories__intro > .margin {
  height: 16px;
}

.categories__description {
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-regular);
  font-style: normal; /* Regular */
  font-size: var(--font-size-4);
  line-height: var(--leading-6);
  letter-spacing: 0;
  color: var(--muted-foreground, #60646C);
}

.categories__content a {
  text-decoration: none;
}