<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="top-nav">
            <div class="container">
                <div class="action">
                    <a href="#">Iniciar sesion</a>
                    <a href="#">Crear una cuenta</a>
                </div>
            </div>
        </div>
        <div class="main-nav">
            <div class="container">
                <div class="content">
                    <img src="/images/logo.svg" alt="Logo de Fullstock">
                    <nav>
                        <div class="navitem">
                            <a href="/categories/1">Polos</a>
                        </div>
                        <div class="navitem">
                            <a href="/categories/2">Tazas</a>
                        </div>
                        <div class="navitem">
                            <a href="/categories/3">Stickers</a>
                        </div>
                    </nav>
                    <div class="action">
                        <div class="icons">
                            <a class="icon" href="#">
                                <img src="/images/search.png" alt="Icono de busqueda">
                            </a>
                            <a class="icon" href="#">
                                <img src="/images/user.png" alt="Icono de usuario">
                            </a>
                        </div>
                        <div class="vector"></div>
                        <a class="icon" href="#">
                            <img src="/images/icon-cart.svg" alt="Icono de carrito de compras">
                        </a>
                    </div>
                </div>
                
                
            </div>
        </div>
    </header>