:root {
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;
  --space-12: 48px;
  --space-16: 64px;
  --space-20: 80px;
  --container-padding: 32px;
  --section-sm-padding: 64px;
  --section-xs-padding: 48px;
  --section-padding: 96px;
  --font-letter-spacing-normal: 0px;
  --hero-padding: 256px;
  --rounded-2: 8px;
  --rounded-1-5: 6px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --spacing-8: 32px;
}
