<%- include('partials/header'); %>
<main>
    <section class="order">
        <div class="content">
            <h2 class="order_title">¡Muchas gracias por tu compra!</h2>
            <p class="order_status">Tu orden está en camino</p>
            <p class="disclaimer">Llegaremos a la puerta de tu domicilio lo antes posible</p>
            <div class="margin"></div>
            <p class="label">Número de orden:</p>
            <p class="nro_order"><%= order.id %></p>
        </div>
    </section>
</main>
<%- include('partials/footer'); %>